<p>registration</p>
{{!-- <form method="post">
    <label for="username">User Name</label>
    <input type="text" name="username"><br>
    <label for="email">Email<label>
    <input type="text" name="email"><br>
    <label for="phone">phone<label>
    <input type="text" name="phone"><br>
    <label for="password">Password</label>
    <input type="password" name="password"><br>
    
    <input type="submit"> --}}
    <h1>{{message}}</h1>
</form>

<div id='master'>
    <button id = "buttonAdult">add Adult</button>
    <button id ="addChild">Add Child</button>
    <ul id="adults"></ul>
    <br>
    <br>
    <br>
    <ul id="children"></ul>
    <br>
    <br>
      <button id ="toDB">Submit</button>
    
</div>

<script>
$( document ).ready(function() {
var socket = io.connect({{socket}});
localID = 0;
var focusID
$('#master').on('focus',':input',function(){
    focusID = this.id;
    console.log(focusID)
})
newAdult();
newChild();

$( '#master' ).on("click","#toDB",function(){  //must use .on() if you want to update updates. 
adultNames = [];
childNames = [];
$('.adultInput').each(function( i ) {
 adultNames.push( '["'+$(this).parents('li').find('img').data('filename')+'","'+$(this).val()+'"]')
})

$('.childInput').each(function( i ) {
 childNames.push( '["'+$(this).parents('li').find('img').data('filename')+'","'+$(this).val()+'"]')
})

adultNames = '['+adultNames.toString()+']';
childNames = '['+childNames.toString()+']';
//Send em'
    let package = [{ name: "childNames", value: childNames},{name: "adultNames", value: adultNames}]
     $.ajax({
         url:"/registration",
         data: package,
         type: 'POST',
         contentType :  "application/x-www-form-urlencoded; charset=UTF-8",
     }).done(function(msg){
         console.log(msg)
         if(msg == 'please fill in at least one adult and one child name'){
             alert(msg)
         }
     })//end done
     .fail(function( xhr, status, errorThrown ) {
       alert( "Sorry, there was a problem!" );
      console.log( "Error: " + errorThrown );
      console.log( "Status: " + status );
      console.dir( xhr );
    })

});



function newAdult(){
localID++;
HTML ='<li id ='+localID+' class ="adultLi">\
<form id = '+'form'+localID+'>\
            <label for="Adultname">Adult Name</label>\
            <input type="text" id="adultInput'+ localID +'"" name="Adultname" class = "adultInput"><br>\
</form>\
<button id = '+'button'+localID+' class ="remove">remove</button>\
<img src ="" id ="'+localID+'" data-filename="">\
</li>'
$("#adults").append(HTML)
};

$( '#master' ).on("click","#buttonAdult",function(){  //must use .on() if you want to update updates. 
newAdult();
});




function newChild(){
localID++;
HTML ='<li id ='+localID+' class ="childLi">\
<form id = '+'form'+'Child'+localID+'>\
            <label for="ChildName">Child name</label>\
            <input type="text" name="ChildName" class = "childInput" id="childInput"'+localID+'><br>\
</form>\
<button id = '+'button'+localID+' class ="remove">remove</button>\
<img src ="" id ="'+localID+'" data-filename="">\
</li>'
$("#children").append(HTML)
};

$( '#master' ).on("click","#addChild",function(){  //must use .on() if you want to update updates. 
newChild();
});








$( '#master' ).on("click",".remove",function(){  //must use .on() if you want to update updates. 
    let grabber = $(this).parents('li').attr('id');
    grabber = "#"+grabber;
    console.log(grabber)
    $(grabber).fadeOut(300,function(){$(grabber).remove()});
    
 
});




var socket = io.connect({{socket}});
socket.on('photo',function(pictureName){
getSignedRequest(pictureName);

function getSignedRequest(pictureName){
  const xhr = new XMLHttpRequest();
  let pictureType = 'image'
  xhr.open('GET', `/getS3signed?file-name=${pictureName}&file-type=${pictureType}`);

  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
          console.log(xhr.responseText)
        const response = JSON.parse(xhr.responseText);
        console.log(response.signedRequest)
      //  $('#image').attr('src',response.signedRequest)
    
    $('#'+focusID).parents('li').find('img').attr('src',response.signedRequest)
     $('#'+focusID).parents('li').find('img').data('filename',pictureName)
      // $('#'+focusID).value = response.url;
     //  $('.image').value = response.url;
    //    uploadFile(file, response.signedRequest, response.url);
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
}
})//end socket






}); //end on load
</script>
<script src="/socket.io/socket.io.js"></script>

{{!-- $("#master").on("change","input[name=Pselect]:radio",function(){
    val = $("input[name=Pselect]:checked").val();
    console.log(val);
socket.emit('clientTransmit', { data: val });
});
var socket = io.connect({{socket}});
  socket.on('severTransmit', function (data) {
    console.log(data);
  }); --}}
