<h1>KINGS CLUB SIGN OUT</h1>
    <p>{{message}}</p>
</form>

<div id='master'>
     <div id='input'> <input type = "text" id = "adultName"></input> </div>
    <button id = "lookup">lookup</button>
<br>
<br>
    <ul id="children"></ul>
    <br>
    <br>
      <button class ="reload">complete</button>
</div>

<script>
$( document ).ready(function() {
childCounter = 0;

$( '#master' ).on("click","#lookup",function(){  //must use .on() if you want to update updates. 
 
 
  $.ajax({
         url:"/api/signout",
         data: [{name:'adultName', value:$("#adultName").val()}],
         type: 'POST',
         contentType :  "application/x-www-form-urlencoded; charset=UTF-8",
     }).done(    function laterFunction(response_set){
            console.log(response_set)
            let rows = JSON.parse(response_set)
            addAdultPhoto(rows[0].adult_photo)
            for (let i = 0; i < rows.length; i++){
console.log('NUMBER '+ i + ":  " + rows[i].child_id);
           newChild(rows[i]);
           }; //end for loop
            })//end done
     .fail(function( xhr, status, errorThrown ) {
     //  alert( "Sorry, there was a problem!" );
      console.log( "Error: " + errorThrown );
      console.log( "Status: " + status );
      //console.dir( xhr );
    })


 
}); //end on click lookup

function addAdultPhoto(filename){
    if(filename !=null){
  const xhr = new XMLHttpRequest();
  let pictureType = 'image'
  xhr.open('GET', `/getS3signed?file-name=${filename}&file-type=${pictureType}`);

  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
          console.log(xhr.responseText)
        const response = JSON.parse(xhr.responseText);
        console.log(response.signedRequest)
         stringHTML = '<img src ="'+response.signedRequest+'">' 
$('#input').append(stringHTML)
      }
      else{
        alert('Could not get signed URL.');
      }
    }
  };
  xhr.send();
    }//end if
    else{
        console.log('filename equals null')
        alert('Adult needs photo')
    }
}//end addAdultPhoto

    function newChild(row){
    if(row.child_photo !=null){
  const xhr = new XMLHttpRequest();
  let pictureType = 'image'
  xhr.open('GET', `/getS3signed?file-name=${row.child_photo}&file-type=${pictureType}`);

  xhr.onreadystatechange = () => {
    if(xhr.readyState === 4){
      if(xhr.status === 200){
          console.log(xhr.responseText)
        const response = JSON.parse(xhr.responseText);
        console.log(response.signedRequest)
    console.log(row.child_id);
    stringHTML = '<li id= "li'+childCounter+'" data-childname = "'+row.child_name+'" data-childid ="'+row.child_id+'">\
    <p><button id = '+childCounter+' class = "signin">sign in</button> '+row.child_name+'  </p>\
    <img src="'+response.signedRequest+'">\
    </li>'
$('#children').append(stringHTML)
childCounter++;
    } //end if xhr.status === 200
    } //end if readystate === 4
 }; //end xhr.onreadystatechange
  xhr.send();
      }// end if child_photo is null
      else{
        alert(row.child_name +" does not have a photo in the database");
            console.log(row.child_id);
    stringHTML = '<li id= "li'+childCounter+'" data-childname = "'+row.child_name+'" data-childid ="'+row.child_id+'">\
    <p><button id = '+childCounter+' class = "signin">sign out</button> '+row.child_name+'  </p>\
    </li>'
$('#children').append(stringHTML)
childCounter++;
      }//end else
 
}; //end addChild

$('#master').on("click",".signin",function(){
     let thisID = $(this).parents('li').attr('id');
     grabber = "#" + thisID
    console.log(grabber)
    $(grabber).css('color','blue');
    let childname = $(grabber).data('childname');
    let childId = $(grabber).data('childid')
    console.log(childname)
    console.log(childId);


    $.ajax({
         url:"/api/signoutChild",
         data: [{name:'childName', value:childname},{name:'childId',value:childId}],
         type: 'POST',
         contentType :  "application/x-www-form-urlencoded; charset=UTF-8",
     }).done(    function laterFunction(response_set){
            console.log(response_set)
            })//end done
     .fail(function( xhr, status, errorThrown ) {
     //  alert( "Sorry, there was a problem!" );
      console.log( "Error: " + errorThrown );
      console.log( "Status: " + status );
      //console.dir( xhr );
    })
})

$('#master').on("click",".reload",function(){
location.reload(true);
    })

}) //end on load
</script>